@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_CommonPage.cshtml";
}
@section Head{
    <link href="/css/themes/@Common.PublicConst.TempCss/easyui.css" rel="stylesheet" type="text/css" />
    <link href="/css/themes/icon.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery.easyui-1.3.6.min.js" type="text/javascript"></script>
    <script src="/Scripts/easyui-lang-zh_CN.js" type="text/javascript"></script>
}
<div id="tb" data-options="region:'center',title:'',iconCls:'icon-book'" style="padding: 10px;
    height: auto;">
    <!-------------------------------搜索框----------------------------------->
    <fieldset style="border-width: 2px; border-style: solid; padding-bottom: 5px; border-color: #95B8E7">
        <legend>信息查询</legend>
        <form id="ffSearch" method="post">
        <div style="margin-bottom: 5px">
            <label for="txtName">
                &nbsp;&nbsp;关键字：</label>
            <input type="text" id="KeyWord" name="KeyWord" style="width: 100px" />&nbsp;&nbsp;
   
            <input id="Button1" type="button" value="查询" style="cursor: pointer;" class="easyui-linkbutton1"
             onclick="search()" />&nbsp;
              <input id="btnQuanbao" type="button" value="全部门店" style="cursor: pointer;" class="easyui-linkbutton1" onclick="Quanbao()" />
             <script>

                 function Quanbao() {
                     if (GetURLParamer("type") == "1") {
                         $('#StoreIds1', window.parent.document).val("");
                         $('#StoreNames1', window.parent.document).val("");
                     }
                     else {
                         $('#StoreIds', window.parent.document).val("");
                         $('#StoreNames', window.parent.document).val("");

                     }
                     var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                     parent.layer.close(index);
                 }
             </script>
        </div>
        </form>
    </fieldset>
    <!-------------------------------详细信息展示表格----------------------------------->
</div>
<div class="easyui-layout" data-options="fit:true"  style="height:380px;">
    <div data-options="region:'west',split:true"  >
    
     <table id="dg" title="门店列表" class="easyui-datagrid" style="" url="/admin/Common/GetListStoreList"
       toolbar="#toolbar" pagination="true" rownumbers="true" fitcolumns="true" singleselect="true">

            <thead>
                <tr>
                  
                    <th data-options="field:'Code',align:'left'"  width="50">
                        编码
                    </th>
                    <th data-options="field:'name'"  width="150">
                        名称
                    </th>
                    <th data-options="field:'操作',width:150,formatter: rowformater">选择</th>
                </tr>
            </thead>
        </table>

    </div>
   
</div>



<script type="text/javascript">
    function GetURLParamer(name) {

        var href = window.location.href;

        var reg = new RegExp("(^|\\?|&)" + name + "=([^&]*)(\\s|&|$)", "i");

        if (reg.test(href)) return RegExp.$2; return "";
    }


    $(document).ready(function () {
        $("#dg").datagrid({
            onClickRow: function (index, row) {  //easyui封装好的时间（被单机行的索引，被单击行的值）
                selectProduct(row["id"], row["name"]);
            }
        });
    });

    function search() {
        $('#dg').datagrid('load', {
            KeyWord: '' + $("#KeyWord").val() + ''
        });
    }

    function selectProduct(id, name) {
        if (GetURLParamer("type") == "1") {
            $('#StoreIds1', window.parent.document).val(id);
            $('#StoreNames1', window.parent.document).val(name);
        }
        else {
            $('#StoreIds', window.parent.document).val(id);
            $('#StoreNames', window.parent.document).val(name);
        
        }
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        parent.layer.close(index);
    }

    function rowformater(value, row, index) {
        return "<a href='javascript:void(0)' onclick='selectProduct(" + row["id"] + ",\"" + row["name"] + "\");' >选择</a>";
    }
</script>
<style>
    .ScrollBar
    {
        overflow: auto;
        background: #fff;
    }
    .checkbuttonOk
    {
        margin: 5px;
        width: auto;
        border: solid 3px #6699cc;
        height: 40px;
        background: #F7F7F7;
        float: left;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    .checktext
    {
        width: 70px;
    }
    .checktext
    {
        float: left;
        width: auto;
        padding-left: 8px;
        line-height: 40px;
        text-align: center;
    }
    .checktext img
    {
        vertical-align: middle;
        padding-right: 3px;
        padding-bottom: 3px;
    }
    .checkbuttonOk .triangleOk
    {
        display: block;
        height: 25px;
        width: 25px;
        float: right;
        background: url('/Images/checkicon.png');
    }
    .checkbuttonOk
    {
        cursor: pointer;
    }
    .checkbuttonNo
    {
        margin: 5px;
        width: auto;
        border: solid 3px #ccc;
        height: 40px;
        background: #F7F7F7;
        float: left;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        cursor: pointer;
    }
    *
    {
        font-size: 9pt;
    }
    .checkbuttonNo .triangleNo
    {
        display: block;
        height: 0px;
        width: 0px;
        border: 12.5px solid #ccc;
        border-color: #F7F7F7 #F7F7F7 transparent transparent;
        border-style: solid solid dashed dashed;
        line-height: 0px;
        float: right;
    }
    .checkbuttonNo {
margin: 5px;
width: auto;
border: solid 3px #ccc;
height: 40px;
background: #F7F7F7;
float: left;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
cursor: pointer;
}
</style>



